
/* Gotham Rounded Book */
@font-face {font-family: "Gotham Rounded Book";
  src: url("../fonts/gothamroundedbook/d31d488d2171c1668c15962fc6cf1ef7.eot"); /* IE9*/
  src: url("../fonts/gothamroundedbook/d31d488d2171c1668c15962fc6cf1ef7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/gothamroundedbook/d31d488d2171c1668c15962fc6cf1ef7.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/gothamroundedbook/d31d488d2171c1668c15962fc6cf1ef7.woff") format("woff"), /* chrome、firefox */
  url("../fonts/gothamroundedbook/d31d488d2171c1668c15962fc6cf1ef7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/gothamroundedbook/d31d488d2171c1668c15962fc6cf1ef7.svg#Gotham Rounded Book") format("svg"); /* iOS 4.1- */
}
/* Candy Round BTN Bold */
@font-face {font-family: "Candy Round BTN Bold";
  src: url("../fonts/candyround/4153dee3b9316b013ee12edc7fc2368f.eot"); /* IE9*/
  src: url("../fonts/candyround/4153dee3b9316b013ee12edc7fc2368f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/candyround/4153dee3b9316b013ee12edc7fc2368f.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/candyround/4153dee3b9316b013ee12edc7fc2368f.woff") format("woff"), /* chrome、firefox */
  url("../fonts/candyround/4153dee3b9316b013ee12edc7fc2368f.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/candyround/4153dee3b9316b013ee12edc7fc2368f.svg#Candy Round BTN Bold") format("svg"); /* iOS 4.1- */
}

html {

}


body {

  font-family: "Gotham Rounded Book", Verdana;
  font-style: normal;
  color: #222222;
}

/***************************************************************************/
/*Cabecera*/

.seccion-cabecera 
{
  border-bottom: 2px solid #d1d3d4;
}

.titulo
{
font-family: "Candy Round BTN Bold","Gotham Rounded Book", Verdana;
background-color: transparent;
background-image: url(../images/strip.svg);
background-repeat: no-repeat;
background-position: 50%;
color: #ffffff;
  
font-size: 1.5rem;
max-width: 350px;
margin-left: auto;
margin-right: auto;
border: none;
outline: none;
min-height: 50px;
text-align: center;
transition: background .8s;

height: auto;
padding: 1.5rem 3rem;
  
text-decoration: none;

}

.btn-aec
{
  background-color: #2d519f;
 
  font-size: 1.25rem;
  font-weight: bolder;
  border: 4px solid #fdc500;
  border-radius: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

.btn-aec:active,
.btn-aec:focus,
.btn-aec:focus-within,
.btn-aec:hover
{
  background-color: #e84f35!important;
  border-color: #fdc500 !important;
}

.nav-link
{
  color: #2d519f;
  font-weight: bolder;
  border: 1px solid transparent;
  text-decoration: underline;
}

.nav-link:not(.active):hover
{
  border: 1px solid #2d519f;
  
}

.nav-item.nav-link.active
{
  color: #fdc500;
  font-weight: bolder;
  background-color: #ffffff;
   text-decoration: none;
}


/***************************************************************************/
/*Responsivo*/

.ocultar {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 576.98px) {
  
  
}

/* fin media */

@media only screen and (max-width: 767.98px) and (min-width: 576px) {
 
}

/* fin media */

@media only screen and (max-width: 991.98px) and (min-width: 768px) {

 
}

/* fin media */

@media only screen and (max-width: 1999.98px) and (min-width: 992px) {
  
  
}

/* fin media */

@media (min-width: 1200px) {
  
  
}

/* fin media */
